<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        * {
            margin: 0;
        }

        .box {
            display: block;
            background-color: #c4c4c4;
            width: 298px;
            height: 415px;
            margin: 100px auto;
        }
        .box img {
            width: 100%;
        }
        .review {
            height: 70px;
            font-size: 14px;
            font-family: 等线,serif;
            color: #000000;
            padding: 0 28px;
            margin-top: 30px;
        }
    </style>
</head>
<body>
<div class="box">
    <img src="../images/1(low).jpg" alt="">
    <p class="review">你好，来到我的网站</p>
</div>
</body>
</html>