<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>js测试</title>
    </script>
</head>
<body>
<p id="demo">hello</p>
<script>
  const r = Math.random();
  const x = document.getElementById("demo");
  if (x > 0.5) {
      x.innerHTML="<a href='../../index.html'>主页</a>"
  } else {
      x.innerHTML="<a href='../../login.html'>登录</a>"
  }
</script>
</body>
</html>